@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  background-color: #93c2eb;
}

.blue-outline {
  outline: 8px solid #2e3986;
  position: absolute;
  height: auto;
  margin-top: 4vw;
  margin-bottom: 4vw;
  bottom: 0px;
  top: 0px;
  text-align: center;
  overflow: hidden;
  display: grid;
  box-shadow: 5px 5px 50px #50687d;
}

.navbutton {
  position: absolute;
  z-index: 3;
  float: left;
  margin-top: 4.5vw;
  margin-left: 6vw;
  height: auto;
  width: auto;
  top: 10px;
}

.navbutton a {
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400 !important;
  color: white;
  text-decoration: none;
}

.navbutton a:hover {
  color: #93c2eb;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.initmessage {
  position: absolute;
  display: block;
  -webkit-animation: fadeInFromNone 2s ease-out;
  -moz-animation: fadeInFromNone 2s ease-out;
  -o-animation: fadeInFromNone 2s ease-out;
  animation: fadeInFromNone 2s ease-out;
  top: 50%;
  left: 50%;
  width: 430px;
  transform: translate(-50%,-50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400 !important;
  color: white;
}

.initmessage b {
  color: #aad5fa;
  font-size: 20px;
}

.btn-sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400 !important;
  background-color: #2e3986;
  border: 0px solid;
  color: white;
}

.circle-container {
  visibility: hidden;
}

img {
  position: absolute;
  height: 1.3vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img:hover {
  box-shadow: 0px 0px 15px #f5ff8a;
  cursor: pointer;
}

.active {
  box-shadow: 0px 0px 25px #f5ff8a;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 70px;
}

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #93c2eb;
}

.videoElement, .text{
  grid-column: 1;
  grid-row: 1;
}

.buttonrow {
  text-align: center;
}


.startButton {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
}

.bluefilter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -2;
  background-color: #2e3986;
  mix-blend-mode: color;
  opacity: 0.39;
}

.glass {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 5;
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: screen;
}

.glass1 {
    background-image: url("img/glass1.png");
}

.glass2 {
    background-image: url("img/glass2.png");
}

.glass3 {
    background-image: url("img/glass3.png");
}

.glass4 {
    background-image: url("img/glass4.png");
}

.glass5 {
    background-image: url("img/glass5.png");
}

.glass6 {
    background-image: url("img/glass6.png");
}

.glass7 {
    background-image: url("img/glass7.png");
}

.glass8 {
    background-image: url("img/glass8.png");
}

.glass9 {
    background-image: url("img/glass9.png");
}

.videoElement {
    position: relative;
    left: 50%;
    top: 50%;
    min-width: 105%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-color: #2e3986;
    overflow: hidden;
    transform: translate(-50%,-50%) scale(-1, 1);
    -moz-transform: translate(-50%,-50%) scale(-1, 1);
    -webkit-transform: translate(-50%,-50%) scale(-1, 1);
    -o-transform: translate(-50%,-50%) scale(-1, 1);
    -ms-transform: translate(-50%,-50%) scale(-1, 1);
    z-index: -3;
}

ul {
    position: absolute;
    top: 45%; left: 50%; /*for example purposes only*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
}


.dataContainer {
  position: absolute;
  padding-left: 22px; !important;
  padding-right: 22px;
  bottom: 10px;
  z-index: 0;
  display: none;
}

.dataSelector {
  position: relative;
  margin: 2px;
  padding-top: 7px;
  padding-left: 0px;
  padding-right: 0px;
  height: 30px;
  background-color: #2e3986;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 400 !important;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.resWrapper {
  display: none;
}

.result {
  position: relative;
  margin: 0px;
  margin-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 23px;
  font-weight: 400 !important;
  color: black;
}

.platzhalter {
  position: relative;
  margin: 0px;
  margin-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
}

.arrow-down {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  width: 0;
  height: 0;
  top: -16px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  z-index: -5;
}

.resPos {
  float: left;
  width: 25%;
  color: white;
  background-color: #75b496;
}

.resNeg {
  float: left;
  width: 25%;
  color: white;
  background-color: #c9408b;
}

.resNeu {
  float: left;
  width: 25%;
  color: black;
  background-color: #ffec00;
}

.resDon {
  float: left;
  width: 25%;
  color: black;
  background-color: #c8c8c8;
}
